<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-5">
                <h4 class="pb-2">{{item.shopItem.name}}</h4>
                <p>Цвет : {{item.shopItem.attr.color}}</p>
                <p>Формат : {{item.shopItem.attr.format}}</p>
                <strong>Цена за 1шт : {{item.shopItem.price}} руб.</strong>
            </div>
            <div class="col-sm-3 row mt-5 text-center">
                <div *ngIf="edit" class="col-sm-3">
                    <button type="button" class="btn btn-primary" (click)="quantityDecrease()">-</button>
                </div>
                <div *ngIf="item.quantity !== 0" class="col-sm-6 text-center mt-2">
                    <div class="counter nowrap">{{item.quantity}} шт.</div>
                </div>
                <div *ngIf="edit" class="col-sm3">
                    <button type="button" class="btn btn-primary" (click)="quantityIncrease()">+</button>
                </div>
            </div>
            <div class="col-sm-2 mt-5">
                <h4 class="nowrap" *ngIf="item.quantity !== 0">{{item.shopItem.price * item.quantity}} руб.</h4>
            </div>
            <div *ngIf="edit" class="col-sm-2">
                <button type="button" class="close mt-5" style="font-size: xx-large;" aria-label="Close"
                    (click)="removeItem()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>