<div class="container overflow-auto border" style="max-height: 60vmin;">
    <app-cart-item *ngFor="let item of cartList" [item]=item></app-cart-item>
    <div class="empty" *ngIf="cartList.length === 0">Корзина пуста</div>
</div>
<div class="d-flex flex-row-reverse">
    <button class="btn btn-lg btn-primary p-2" (click)="clearCart()">Очистить корзину</button>
    <a class="link" href="/checkout"><button class="btn btn-lg btn-primary p-2">Оформить заказ</button> <span class="sr-only">(current)</span></a>
</div>