<div class="container container-lg text-center">
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Личные данные</ng-template>
        <mat-form-field>
          <mat-label>Имя</mat-label>
          <input matInput formControlName="firstName" placeholder="Введите имя" required>
          <mat-error *ngIf="firstFormGroup.get('firstName')">Пожалуйста, введите имя</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Фамилия</mat-label>
          <input matInput formControlName="lastName" placeholder="Введите фамилию" required>
          <mat-error *ngIf="firstFormGroup.get('lastName')">Пожалуйста, введите фамилию</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Номер телефона</mat-label>
          <input type="tel" matInput formControlName="phone" placeholder="Введите номер телефона" required>
          <mat-error *ngIf="firstFormGroup.get('lastName')">Пожалуйста, введите номер телефона</mat-error>
        </mat-form-field>
        <br>
        <mat-checkbox class="small mt-2" formControlName="personalData">Соглашение на обработку персональных данных
        </mat-checkbox>
        <br>
        <button class="btn btn-primary btn-large" matStepperNext>Продолжить</button>
        <mat-error *ngIf="firstFormGroup.get('personalData')">Чтобы продолжить, согласитесь на обработку персональных данных
        </mat-error>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>