.card {
    padding: 0.5rem 1rem;
    /* border: 1px solid #ccc; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.counter {
    font-size: medium;
    margin-left: 1rem;
    margin-top: .5rem;
}

.nowrap {
    word-wrap: normal;
}