  .mat-stepper-horizontal {
    margin-top: 8px;
  }

  .mat-form-field {
    margin-top: 16px;
  }

  .mat-checkbox {
    padding: 2rem;
  }

  .small {
    transform: scale(0.5);
    -ms-transform: scale(0.5);
    /* IE 9 */
    -webkit-transform: scale(0.5);
    /* Safari and Chrome */
    -o-transform: scale(0.5);
    /* Opera */
    -moz-transform: scale(0.5);
    /* Firefox */
  }

  button {
    margin: 1rem 0.5rem;
  }

  label {
    margin-right: 1rem;
  }

  input[type=file] {
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }